<script src="https://www.paypal.com/sdk/js?client-id=BAAFLdRoOCzTAP6mrJdlaq17_Dias3g2CYBJlMlezu-uVtLXLBGOXBI6lGfv0pSiuCaAz_yAo-hwg3eWTE&components=hosted-buttons&disable-funding=venmo&currency=USD"></script>
<div id="paypal-container-FA3PZTRJK4E92"></div>
<script>
  paypal.HostedButtons({
    hostedButtonId: "FA3PZTRJK4E92",
  }).render("#paypal-container-FA3PZTRJK4E92")
</script>